.centeredtext {
    text-align: center;
}

.centeredblock {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
    max-width: 100%;
    width: 520px;
    height: auto;
}

#cross {
    height: 100px;
}

.navbar {
    margin-bottom: 0px;
}

body {
    background-image: url('../images/quakebg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.orange {
    color: #ff9300;
}

li > a {
    font-weight: bold;
    color: #000000;
    text-align: right;
}

#schedule {
    margin-left: auto;
    margin-right: auto;
}

.strong {
    font-weight: bold;
}

#sponsors {
    list-style: none;
    padding-left: 0px;
}

.past-content {
    display: none;
}

.right {
    float: right;
}

.sponsor-logo {
    max-width: 150px;
}

.church-logo, .mission-logo {
    max-width: 300px;
}

.row {
    padding-bottom: 15px;
}

.linkless {
    color: #ffffff;
    font-weight: bold;
}

tr > td:first-child {
    padding-right: 15px;
}

/* Sidebar */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        transition: all 0.25s ease-out 0s;
    }
    .row-offcanvas-right {
        right: 0;
    }
    .row-offcanvas-left {
        left: 0;
    }
    .row-offcanvas-right .sidebar-offcanvas {
        right: -50%;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -50%;
    }
    .row-offcanvas-right.active {
        right: 50%;
    }
    .row-offcanvas-left.active {
        left: 50%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%;
    }
}

/* Nav button */
.icon-bar {
    background-color: #fff;
    border-radius: 1px;
    display: block;
    height: 2px;
    margin-top: 4px;
    width: 22px;
}

.navbar-toggle {
    border-color: #fff;
}
.navbar-toggle:hover {
    background-color: #ddd;
}

/* Sidebar items */
.list-group >  a.active, .list-group >  a.active:hover, .list-group >  a.active:focus {
    background-color: #ff9300;
    border-color: #ff9300;
    color: #fff;
}

a.list-group-item {
    color: #000000;
    background-color: transparent;
    border: none;
}

img#postcard {
    max-width: 100%;
    width: 500px;
    height: auto;
}

hr {
    border-color: #ff9300;
}

/*#logo {*/
    /*max-width: 100%;*/
    /*width: 520px;*/
    /*height: auto;*/
/*}*/