<div class="centeredtext">
    <h1>New Orleans Mission Trip</h1>

    <h3>July 29 - August 6</h3>


    <div><a href="{{url}}res/YQNEWORLEANS.pdf" target="_blank"><img src="{{imageUrl}}postcard.png" id="postcard"/></a></div>
    &nbsp;<br/>

    <p class="orange">Guest Speakers: </p>
    <p class="orange">Vickie Geoff - ABHMS</p>
</div>