<div class="centeredtext">
    <h1>New Orleans Mission Trip</h1>

    <h3>July 29 - August 6</h3>
    <h3>Informational Rally</h3>
    <h3>February 6, 6pm at Lakeshore Avenue Baptist Church</h3>
    <h3>July 29 - August 6</h3>

    <p>
        Friday and Saturday, September 18-19, 2015
    </p>

    <p>
        At First Baptist Church of Alameda
    </p>

    <div><a href="{{url}}res/YQNEWORLEANS.pdf" target="_blank"><img id="flyer" src="{{imageUrl}}postcard.jpg"/></a></div>
    &nbsp;<br/>

    <p class="orange">Guest Speakers: </p>
    <p class="orange">Vickie Geoff - ABHMS</p>
</div>