<div class="centeredtext">
    <h1>This Year's Conference Is:</h1>

    <p>
        Friday and Saturday, September 12-13, 2014
    </p>

    <p>
        At Portola Baptist Church (San Francisco, CA)
    </p>

    <div><a href="{{url}}res/postcard.pdf"><img id="postcard" src="{{url}}images/postcard.jpg"/></a></div>
    &nbsp;<br/>

    <p class="orange">Guest Speakers: TBD</p>
    <!-- Joshua Zambrano - Hispanic American Baptist Churches of Northern California, and<br />
    Rev. Marie Onwubuariri - American Baptist Seminary of the West, and<br />
    Rev. Jeffrey Williams - First AME Church of Oakland, and<br /> -->
    <p>
        <span class="orange">Praise Teams </span> across the Bay Area will lead us into worship,
    </p>

    <p>
        and the call to <span class="orange">Missions </span> will be answered.
    </p>
</div>