    <div class="present-content centeredtext">
        <h1 class="centeredtext">Leadership for Youthquake is being provided by:</h1>

        <p>
            <span class="strong">Admin and Logistics</span><br/>
            Karen Yee - New Life Christian Fellowship<br/>
            Katie Choy-Wong - New Life Christian Fellowship<br/>
            Chad Plantenberg - Community Baptist Church of San Mateo<br/>
            <span class="strong">Publicity</span><br/>
            Chad Plantenberg - Community Baptist Church of San Mateo<br/>
            Tashi Vedel - New Life Christian Fellowship<br/>
            <span class="strong">Site and Food</span><br/>
            Jeanette Calixto - First Baptist Church of Alameda<br/>
            Merle Oshiro - First Baptist Church of Alameda<br/>
            Karen Yee - New Life Christian Fellowship<br/>
            James George - First Baptist Church of Alameda<br/>
            <span class="strong">Mission Projects</span><br/>
            Katie Choy-Wong - New Life Christian Fellowship<br/>
            Tina Atencio - First Baptist Church of Alameda<br/>
            <span class="strong">Small Groups</span><br/>
            Karen Yee - New Life Christian Fellowship<br/>
            Jeanette Calixto - First Baptist Church of Alameda<br/>
            <span class="strong">Games and Recreation</span><br/>
            James George - First Baptist Church of Alameda<br/>
            Ally Cospin - Portola Baptist Church<br/>
            <span class="strong">Worship and Miscellany</span><br/>
            Elias Soto - Portola Baptist Church<br/>
            Tashi Vedel - New Life Christian Fellowship<br/>
            Danielle Oshiro - First Baptist Church of Alameda<br/>

        </p>

        <button class="past">Past Leadership Teams</button>
    </div>

    <div class="past-content centeredtext">

        <h1 class="centeredtext">2014 Leadership was provided by:</h1>

        <p>
            <span class="strong">Admin and Logistics</span><br/>
            Karen Yee - New Life Christian Fellowship<br/>
            Katie Choy-Wong - New Life Christian Fellowship<br/>
            Chad Plantenberg - Community Baptist Church of San Mateo<br/>
            <span class="strong">Publicity</span><br/>
            Chad Plantenberg - Community Baptist Church of San Mateo<br/>
            Randy Fong - New Life Christian Fellowship<br/>
            Tashi Vedel - New Life Christian Fellowship<br/>
            <span class="strong">Site and Food</span><br/>
            Gloria - Portola Baptist Church<br/>
            Elias Soto - Portola Baptist Church<br/>
            Cristhiam Castro - Primera Baptisa de la Ciudad<br/>
            <span class="strong">Mission Projects</span><br/>
            Cristhiam Castro - Primera Baptisa de la Ciudad<br/>
            Mervin Castro - Primera Baptisa de la Ciudad<br/>
            Tina Atencio - First Baptist Church of Alameda<br/>
            <span class="strong">Small Groups</span><br/>
            Katie Choy-Wong - New Life Christian Fellowship<br/>
            Tashi Vedel - New Life Christian Fellowship<br/>
            <span class="strong">Games and Recreation</span><br/>
            Anthony Carnero - First Baptist Church of Alameda<br/>
            James George - First Baptist Church of Alameda<br/>
            Ally Cospin - Portola Baptist Church<br/>
            <span class="strong">Worship and Miscellany</span><br/>
            Dan French - Allen Temple Baptist Church<br/>
            Elias Soto - Portola Baptist Church<br/>
            Karen Yee - New Life Christian Fellowship<br/>
            Lone Lazum - Oakland Burmese Mission Baptist Church<br/>
            Moa Imchen - Alliance of Asian American Baptist Churches<br/>
        </p>


        <h1 class="centeredtext">2013 Leadership was provided by:</h1>

        <p>
            <span class="strong">Admin and Logistics</span><br/>
            Karen Yee - New Life Christian Fellowship<br/>
            Katie Choy-Wong - New Life Christian Fellowship<br/>
            <span class="strong">Publicity</span><br/>
            Chad Plantenberg - Community Baptist Church of San Mateo<br/>
            Nick Powell - First Baptist Church of Alameda<br/>
            Tashi Vedel - New Life Christian Fellowship<br/>
            <span class="strong">Site and Food</span><br/>
            Kendra Roberts - Allen Temple Baptist Church<br/>
            Pam Wilson - Allen Temple Baptist Church<br/>
            <span class="strong">Mission Projects</span><br/>
            Allison Tanner - Lakeshore Avenue Baptist Church<br/>
            Tina Atencio - First Baptist Church of Alameda<br/>
            <span class="strong">Small Groups</span><br/>
            Chad Plantenberg - Community Baptist Church of San Mateo<br/>
            Katie Choy-Wong - New Life Christian Fellowship<br/>
            Tashi Vedel - New Life Christian Fellowship<br/>
            <span class="strong">Games and Recreation</span><br/>
            Anthony Carnero - First Baptist Church of Alameda<br/>
            James George - First Baptist Church of Alameda<br/>
            <span class="strong">Worship and Miscellany</span><br/>
            Dan French - Allen Temple Baptist Church<br/>
            Elias Soto - Portola Baptist Church<br/>
            Karen Yee - New Life Christian Fellowship<br/>
            Lone Lazum - Oakland Burmese Mission Baptist Church<br/>
            Moa Imchen - Alliance of Asian American Baptist Churches<br/>
            Marie Onwubuariri - American Baptist Seminary of the West<br/>
        </p>


        <h1 class="centeredtext">2012 Leadership was provided by:</h1>

        <p>
            <span class="strong">Admin and Logistics</span><br/>
            Katie Choy-Wong - New Life Christian Fellowship<br/>
            Allison Tanner - Lakeshore Avenue Baptist Church<br/>
            <span class="strong">Worship and Media</span><br/>
            Elias Soto - Portola Baptist Church<br/>
            Ron Aragon - Portola Baptist Church<br/>
            Visal Sok - First Baptist Church of San Francisco<br/>
            Tashi Vedel - New Life Christian Fellowship<br/>
            <span class="strong">Site and Food</span><br/>
            Lone Lazum - Oakland Burmese Mission Baptist Church<br/>
            Larry Chow - Oakland Burmese Mission Baptist Church<br/>
            David Sein-Lwin - Oakland Burmese Mission Baptist Church<br/>
            Emerald Wong - Oakland Burmese Mission Baptist Church<br/>
            <span class="strong">Mission Projects</span><br/>
            Allison Tanner - Lakeshore Avenue Baptist Church<br/>
            Katie Choy-Wong - New Life Christian Fellowship<br/>
            <span class="strong">Small Groups</span><br/>
            Kendra Roberts - Allen Temple Baptist Church<br/>
            Tina Atencio - First Baptist Church of Alameda<br/>
            Visal Sok - First Baptist Church of San Francisco<br/>
            <span class="strong">Games</span><br/>
            Tina Atencio - First Baptist Church of Alameda<br/>
            Visal Sok - First Baptist Church of San Francisco<br/>
            Chad Plantenberg - Redwood Glen Christian Camp and Conference Center<br/>
        </p>

        <button class="present">Return to Main Leadership Page</button>
    </div>