<h1 class="centeredtext">Location of Info Rally</h1>
<h2 class="centeredtext">Lakeshore Avenue Baptist Church</h2>

<p class="centeredtext strong">3534 Lakeshore Ave, Oakland, CA 94610</p>

{{!commenting out for now<p class="centeredtext strong">
    <a href="http://www.fbcalameda.net/" target="_blank">www.fbcalameda.net</a>
</p>}}

<div id="directions" class="centeredblock">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.0733240213917!2d-122.24358428468122!3d37.81175147975267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f876a178e8281%3A0x49c6a036d789cd46!2s3534+Lakeshore+Ave%2C+Oakland%2C+CA+94610!5e0!3m2!1sen!2sus!4v1454232023812"
            width="600" height="450" frameborder="0" style="border:0 allowfullscreen" class="centeredblock"></iframe>
</div>