<h3>Why the Name?</h3>

<p>
    In the natural realm, a 'quake' is a powerful movement of the earth's surface.
    In the spiritual realm, this movement may sometimes be viewed as both initiated by,
    and used for the glory of, God.
</p>
<ul>
    <li>An earthquake accompanied the tearing of the veil (Matthew 27:51),</li>
    <li>And again when the stone was rolled away (Matthew 28:2).</li>
    <li>Paul and Silas were released from prison through one (Acts 16:26),</li>
    <li>And earthquakes play an important role in John's vision (Revelation 6:12, for example).</li>
</ul>
<p>
    It is this sort of movement that we seek among God's youth. It is both the
    transformation of the individual's heart as well as the reformation of a community.
    It is the movement of God amongst God's people as well as an invitation to join in
    that movement.
</p>
<p>
    A movement of this magnitude necessarily involves one's whole self. The weekend has
    been prayerfully designed to engage our youth at all levels. The mind is engaged
    through message times and times of reflection; the heart is engaged through times of
    worship (by music) and testimony; our 'strength' is engaged during the missional
    projects; and the soul is nurtured throughout the whole time by life in community -
    including the times of play.
</p>
<p>
    God, come move in a mighty way amongst us, and in us, and through us. Amen. Even so,
    come, Lord Jesus (Revelation 22:20).
</p>