<h1 class="centeredtext">Mission Projects</h1>



<p>2015 Mission Projects:</p>
<div class="row">
    <div class="col-xs-6 centeredtext">
        <a href="http://www.worldimpactbayarea.org/World_Impact_Bay_Area/Home.html" target="_blank">
        <img class="mission-logo" src="http://static.squarespace.com/static/526ee359e4b0fc50011bf7d3/t/52c5f6f8e4b0f283670a6444/1388705539955/Bay_San_Francisco_Cinemagraph.gif?format=1500w"
            id="wiba"/>
    </a>
    </div>
    <div class="col-xs-6 centeredtext">
        <a href="http://www.alamedafoodbank.org/" target="_blank">
        <img class="mission-logo" src="http://www.alamedafoodbank.org/wp-content/uploads/2013/11/panoramic4-resized-image-960x2992.jpg" id="ebrpd"/>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 centeredtext"><a href="http://cityteam.org/san-francisco/" target="_blank">
        <img class="mission-logo" src="http://cityteam.org/_images/logo_cityteam_light.png"/>
    </a>
    </div>
    <div class="col-xs-6 centeredtext strong">
        <a href="http://www.seafarersministry.com/index.html" target="_blank">Seafarer's Ministry of the Golden Gate</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 centeredtext">
        <a href="http://rubybridges.alamedausd.ca.schoolloop.com/" target="_blank">
            Ruby Bridges Elementary School
        </a>
    </div>
    <div class="col-xs-6 centeredtext">
        <a href="https://www.facebook.com/pages/Allen-Temple-Streets-Disciples-Ministry/103434706406624" target="_blank">
            <img class="mission-logo" src="https://www.allen-temple.org/images/atbc-logo/allen-temple-logo.png"/>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 centeredtext">
        <a href="http://abodeservices.org/" target="_blank">
            <img class="mission-logo" src="http://abodeservices.org/sup/img/logo.png"/>
        </a>
    </div>
    <div class="col-xs-6 centeredtext">
        <a href="http://www.bayarearescue.org/" target="_blank">
            <img class="mission-logo" src="http://www.bayarearescue.org/sites/default/files/bayarealogo.png"/>
        </a>
    </div>
</div>