<div class="centered">
    <h3>Registration Form and Information is included in the Flyer</h3>

    <p>Registration is open!</p>

    <p><a href="reg.pdf" target="_blank">Registration Form</a></p>
</div>