<h1 class="centeredtext">Registration</h1>

<h3>No registration is required for our informational rally; mission trip registration forms will be available at the rally. </h3>

<h4 class="centeredtext strong"><a href="{{url}}res/reg.pdf" target="_blank">Registration Form</a></h4>

<h4 class="centeredtext strong"><a href="{{url}}res/consent.pdf" target="_blank">Consent and Medical Form</a></h4>

