<h1 class="centeredtext">Registration</h1>

<h4>Registration Instructions</h4>
<p>There are 3 forms - these are the forms American Baptist Home Mission Society requires for participation.  YouthQuake has no additional forms that it requires for this event; however, all 3 forms *must* be returned to YouthQuake to receive the scholarship and include “YouthQuake” along with your church’s name on the “church name” line of the ‘registration form’.</p>
   <p><br />Address to return forms to:
   <br />YouthQuake
   <br />c/o New Life Christian Fellowship
   <br />22360 Redwood Road
   <br />Castro Valley, CA 94546</p>
   <br />

<h4>Registration Links</h4>
<ul>
    <li><a href="http://www.abhms.org/caring_ministries/VIM/docs/Til%20the%20Work%20is%20Done%20-%20Registration%20and%20Skills%20Form%202016.pdf" target="_blank">Registration Form</a></li>
    <li><a href="http://www.abhms.org/caring_ministries/VIM/docs/Til%20the%20Work%20is%20Done%20-%20Release%20Forms%202016.pdf" target="_blank">Release Form</a></li>
    <li><a href="http://www.abhms.org/caring_ministries/VIM/docs/Til%20the%20Work%20is%20Done%20-%20CSED%20Volunteer%20Liability%20Waiver%20as%20of%20April%202015.pdf" target="_blank">Job-Site Release</a></li>
</ul>
