    <h1 class="centeredtext">Schedule</h1>

    <p class="centeredtext">Schedule is tentative and subject to change without notice.</p>
    <p class="centeredtext">Schedule coming soon. </p>
    {{!<table id="schedule" border="0">
        <tr>
            <td class="strong" colspan="2">Saturday</td>
        </tr>
        <tr>
            <td>6:30pm</td>
            <td>Welcome and Worship</td>
        </tr>
        <tr>
            <td>7pm</td>
            <td>Special Guest: Vickie Geoff</td>
        </tr>
        <tr>
            <td>8pm</td>
            <td>Q & A</td>
        </tr>
    </table>}}