<div class="centered">
    <h3>Schedule</h3>

    <p>Schedule is tentative and subject to change without notice.</p>
    <table id="schedule" border="0">
        <tr>
            <td class="strong" colspan="2">Friday</td>
        </tr>
        <tr>
            <td>6-7pm</td>
            <td>Registration</td>
        </tr>
        <tr>
            <td>7pm</td>
            <td>Games</td>
        </tr>
        <tr>
            <td>9pm</td>
            <td>Worship Session #1</td>
        </tr>
        <tr>
            <td>10pm</td>
            <td>Small Group Session #1</td>
        </tr>
        <tr>
            <td>11pm</td>
            <td>Snack</td>
        </tr>
        <tr>
            <td>11:30pm</td>
            <td>Free Time</td>
        </tr>
        <tr>
            <td>12am</td>
            <td>Lights Out</td>
        </tr>
        <tr>
            <td class="strong" colspan="2">Saturday</td>
        </tr>
        <tr>
            <td>8am</td>
            <td>Breakfast</td>
        </tr>
        <tr>
            <td>8:30am</td>
            <td>Worship Session #2</td>
        </tr>
        <tr>
            <td>9:30am</td>
            <td>Small Group Session #2</td>
        </tr>
        <tr>
            <td>10:30am</td>
            <td>Head to Mission Project (lunch is included)</td>
        </tr>
        <tr>
            <td>4pm</td>
            <td>Small Group Session #3</td>
        </tr>
        <tr>
            <td>5pm</td>
            <td>Dinner</td>
        </tr>
        <tr>
            <td>6pm</td>
            <td>Worship Session #3 (+ Testimonies)</td>
        </tr>
        <tr>
            <td>7pm</td>
            <td>Return to your primary mission field (home)</td>
        </tr>
    </table>
</div>