<h1 class="centeredtext">Speakers TBD:</h1>
<!--
<p><span>Mr. Joshua Zambrano</span><br />Josh is the Youth Pastor for Iglesia Roca De Salvacion (Rock of Salvation)
in the Mission District of San Francisco and was the Worship Minister for a local group of
various churches named Khayeel (Greek for 'Mighty Moving Force'), and he has worked with One Truth Ministries,
the Youth Department for the Hispanic American Baptist Churches of Northern California.  He has
inspired and blessed many.</p>-->
<div class="present-content">
    <div class="centeredtext">
        <button class="past">Past Speakers</button>
    </div>
</div>

<div class="past-content">
    <h3>2013 Speakers:</h3>

    <p><span>Rev. Marie Onwubuariri</span><br/><img src="images/marie.jpg" class="right"/>
        Marie self-defines as a 1.75 Filipina-American - born in the Philippines, raised in the U.S.,
        but not quite the same as what society calls a 1.5 gen immigrant (ask her if you want more info!)
        This journey of self-identity emerged for her a passion and calling to be an effective
        intercultural leader, bridging between people of different generations, ethnicities, and walks of
        life. She was raised in an American Baptist church in New York City, and after a career in the
        retail industry she followed God's leading to devote her life to following Christ. Marie comes
        with her ministry experiences as an active lay person, a youth director, a young adult minister,
        a senior pastor, an emerging leader in the American Baptist denomination, and currently loves
        helping people discern their call as the Director of Admissions at the American Baptist Seminary
        of the West in Berkeley. She lives in San Pablo with her husband, two young kids, and beloved dog.
        She enjoys a variety of music, photography, and a good game of volleyball.</p>

    <p><span>Rev. Jeffrey Wilson</span><br/>
        Music and the Word of God is Rev. Jeffrey's passion. He is currently the Minister of Music at
        First AME Church in Oakland, and he is the Youth Bible Study teacher for the Youth Ministry at
        Allen Temple Baptist Church and a guest preacher at Freedom, the youth church at Allen Temple.</p>

    <p><span>Mr. Joshua Zambrano</span><br/>Josh is the Youth Pastor for Iglesia Roca De Salvacion (Rock of Salvation)
        in the Mission District of San Francisco and was the Worship Minister for a local group of
        various churches named Khayeel (Greek for 'Mighty Moving Force'), and he has worked with One Truth Ministries,
        the Youth Department for the Hispanic American Baptist Churches of Northern California. He has
        inspired and blessed many.</p>

    <h3>2012 Speaker:</h3>

    <p><span>John W. Polite, III</span><br/><img src="images/jp.jpg" class="right"/>
        John Polite was born and raised in Riverside, California where he attended public
        schools and was active in the life of the church. He received his bachelor of arts in
        communications from Cal Poly Pomona in 1992, where he served as president of the campus
        chapter of the NAACP, Alpha Phi Alpha Fraternity, Inc. and was an editor of the campus
        newspaper, and active in Cal Poly's chapter of Campus Crusade for Christ. He was a
        staff writer for the Inland Valley Daily Bulletin, and holds a Master of Divinity
        degree from the American Baptist Seminary of the West in Berkeley, CA. He has been
        active on a national level in the American Baptist Churches in the USA since 1997
        serving as a member of the Youth Ministry Resource Team, the Statements of Concern
        Committee and the Minister's Council Executive Committee. He serves on the board of
        trustees for the American Baptist Seminary of the West. In his time in local church
        ministry, he served as an intern at the First Baptist Church of Riverside, CA, and at
        Church of the Good Shepherd in Oakland, CA. He became the first African American
        pastoral staff member at the historic First Baptist Church of Los Angeles in 1997 and
        was ordained into the gospel ministry early on in his tenure at First L.A. He was the
        Senior Pastor of the ethnically and culturally diverse Panorama Baptist Church in
        Arleta, CA from 2001 to 2012. Currently, JP serves as the worship arts consultant for
        the American Baptist Churches of Los Angeles, the Worship Arts director for the First
        Baptist Church of Los Angeles, and is the lead facilitator of reMIX, a burgeoning faith
        community of young un-churched and de-churched young adults who are using new and
        creative ways to tell God's story to a generation that has gotten lost in the
        translation.</p>

    <div class="centeredtext">
        <button class="present">Return to Speaker Bio Main Page</button>
    </div>
</div>