<h1 class="centeredtext">Sponsors</h1>

<!-- TODO: GRID-IZE IT (OR TRY TO)-->
<!-- TODO: Figure out BootStrap size ranges and fit the classes accordingly. -->

<h4>We would like to thank these organizations and individuals for their sponsorship of this event:</h4>
<h4>Associations and Organizations</h4>
<div class="row">
    <div class="col-xs-6 centeredtext linkless">
        <a href="http://abccpc.com/" target="_blank">
            <img class="sponsor-logo" src="{{url}}images/ABCCPClogo.jpg"/>
        </a>
    </div>
    <div class="col-xs-6 centeredtext">
        <a href="http://www.absw.edu/" target="_blank">
            <img class="sponsor-logo" src="http://67.23.250.30/~absw/wp/wp-content/uploads/2014/10/ABSW_logo-long11.png"/>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 centeredtext linkless">Association of Northern California American Baptist Churches</div>
    <div class="col-xs-6 centeredtext">
        <a href="http://evergreen-abc.org/" target="_blank">
            <img class="sponsor-logo" src="{{url}}images/evergreensmall.png"/>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 centeredtext"><a href="http://growinghealthychurches.org/" target="_blank">
        <img class="sponsor-logo"
             src="http://growinghealthychurches.com/wp-content/uploads/2013/09/GHCLogo2013330x6016-bit.jpg"/></a>
    </div>
    <div class="col-xs-6 centeredtext">
        <a href="https://pcbasite.wordpress.com/" target="_blank">
            <img class="sponsor-logo" src="{{imageUrl}}PCBA-blueb-circle.png"/>
        </a>
    </div>
</div>

<h4 class="break">Churches</h4>
<div class="row">
    <div class="col-xs-6 centeredtext strong">
        <a href="https://www.facebook.com/pages/First-Baptist-Church-of-Alameda-CA/184810551283" target="_blank">First
            Baptist Church of Alameda</a>
    </div>
    <div class="col-xs-6 centeredtext">
        <a href="http://www.labcoakland.org/index.php" target="_blank">
            <img class="church-logo" src="http://www.labcoakland.org/labc_logo.png" id="labc"/></a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 centeredtext">
        <a href="http://www.newlifebayarea.org/" target="_blank">
            <img class="church-logo" src="{{imageUrl}}nlcf.png"/></a>
    </div>
    <div class="col-xs-6 centeredtext linkless">Oakland Burmese Mission Baptist Church</div>
</div>
<div class="row">
    <div class="col-xs-6 centeredtext linkless">Iu-Mienh Friendship Baptist Church</div>
</div>
<h4 class="break">Individuals</h4>
<ul id="sponsors">
    <li class="linkless">Dr. J. Alfred Smith Sr.</li>
</ul>