<h1 class="centered">Sponsors</h1>

<!-- TODO: GRID-IZE IT (OR TRY TO)-->
<!-- TODO: Figure out BootStrap size ranges and fit the classes accordingly. -->

<h4>We would like to thank these organizations and individuals for their sponsorship of this event:</h4>
<h4>Associations and Organizations</h4>
<div class="row">
    <div class="col-xs-4 centered linkless">American Baptist Churches of the Central Pacific Coast</div>
    <div class="col-xs-4 centered">
        <a href="http://www.absw.edu/" target="_blank">
            <img class="sponsor-logo" src="http://absw.edu/absw/static/images/top_c1_logo.gif"/>
        </a>
    </div>
    <div class="col-xs-4 centered linkless">Association of Northern California American Baptists</div>
</div>
<div class="row">
    <div class="col-xs-4 centered">
        <a href="http://evergreen-abc.org/" target="_blank">
            <img class="sponsor-logo" src="{{url}}images/evergreensmall.png"/>
        </a>
    </div>
    <div class="col-xs-4 centered"><a href="http://growinghealthychurches.org/" target="_blank">
        <img class="sponsor-logo"
             src="http://growinghealthychurches.com/wp-content/uploads/2013/09/GHCLogo2013330x6016-bit.jpg"/></a>
    </div>
    <div class="col-xs-4 centered"><a href="http://www.redwoodglen.com" target="_blank">
        <img class="sponsor-logo" src="http://www.redwoodglen.com/images/index2_06.jpg"/></a>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 centered">
        <a href="http://www.philmeads.org/pcba/" target="_blank">
            <img class="sponsor-logo" src="{{url}}images/pcbasmall.png"/>
        </a>
    </div>
</div>

<h4 class="break">Churches</h4>
<div class="row">
    <div class="col-xs-6 centered"><a href="http://www.allen-temple.org/" target="_blank">
        <img class="church-logo" src="https://www.allen-temple.org/images/atbc-logo/allen-temple-logo.png"/></a>
    </div>
    <div class="col-xs-6 centered strong">
        <a href="https://www.facebook.com/pages/First-Baptist-Church-of-Alameda-CA/184810551283" target="_blank">First
            Baptist Church of Alameda</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 centered">
        <a href="http://www.labcoakland.org/index.php" target="_blank">
            <img class="church-logo" src="http://www.labcoakland.org/labc_logo.png" id="labc"/></a>
    </div>
    <div class="col-xs-6 centered linkless">Lu-Mienh Friendship Baptist Church</div>
</div>
<div class="row">
    <div class="col-xs-6 centered">
        <a href="http://www.newlifebayarea.org/" target="_blank">
            <img class="church-logo" src="{{url}}images/nlcf.png"/></a>
    </div>
    <div class="col-xs-6 centered">
        <a href="http://www.obmbc-ca.org/" target="_blank">
            <img class="church-logo" src="http://www.obmbc-ca.org//templates/touch_of_soul/images/s5_logo.png"/>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 centered">
        <a href="http://portolabaptistchurch.org/" target="_blank">
            <img class="church-logo" src="{{url}}images/portolasmall.png"/>
        </a>
    </div>
</div>
<h4 class="break">Individuals</h4>
<ul id="sponsors">
    <li class="linkless">Rev. Steve and Trudi Bils</li>
    <li class="linkless">Rev. Carole Moore and Robert Moore</li>
</ul>