<h3>Sponsors</h3>

        <!-- TODO: GRID-IZE IT (OR TRY TO)-->

<h4>We would like to thank these organizations and individuals for their sponsorship of this event:</h4>
<h4>Associations and Organizations</h4>
<ul>
    <li><span class="linkless">American Baptist Churches of the Central Pacific Coast</span></li>
    <li><a href="http://www.absw.edu/" target="_blank"><img
            src="http://absw.edu/absw/static/images/top_c1_logo.gif"/></a></li>
    <li><span class="linkless">Association of Northern California American Baptists</span></li>
    <p class="break">&nbsp;</p>
    <li><a href="http://evergreen-abc.org/" target="_blank"><img src="images/evergreensmall.png"/></a></li>
    <li><a href="http://growinghealthychurches.org/" target="_blank"><img
            src="http://growinghealthychurches.com/wp-content/uploads/2013/09/GHCLogo2013330x6016-bit.jpg"/></a>
    </li>
    <li><a href="http://www.philmeads.org/pcba/" target="_blank"><img src="images/pcbasmall.png"/></a></li>
    <li><a href="http://www.redwoodglen.com" target="_blank"><img
            src="http://www.redwoodglen.com/images/index2_06.jpg"/></a></li>
</ul>
<h4 class="break">Churches</h4>
<ul>
    <li><a href="http://www.allen-temple.org/" target="_blank"><img
            src="https://www.allen-temple.org/images/atbc-logo/allen-temple-logo.png"/></a></li>
    <p class="break">&nbsp;</p>
    <li><a href="https://www.facebook.com/pages/First-Baptist-Church-of-Alameda-CA/184810551283" target="_blank">First
        Baptist Church of Alameda</a></li>
    <li><a href="http://www.labcoakland.org/index.php" target="_blank"><img
            src="http://www.labcoakland.org/labc_logo.png" id="labc"/></a></li>
    <li><span class="linkless">Lu-Mienh Friendship Baptist Church</span></li>
    <li><a href="http://www.newlifebayarea.org/" target="_blank"><img
            src="https://s3-us-west-1.amazonaws.com/newlifebayarea/res/logo.png" style="height:50px"/></a></li>
    <li><a href="http://www.obmbc-ca.org/" target="_blank"><img
            src="http://www.obmbc-ca.org//templates/touch_of_soul/images/s5_logo.png" /></a></li>
    <li><a href="http://portolabaptistchurch.org/" target="_blank"><img src="images/portolasmall.png"/></a></li>
</ul>
<h4 class="break">Individuals</h4>
<ul>
    <li>Rev. Steve and Trudi Bils</li>
    <li>Rev. Carole Moore and Robert Moore</li>
</ul>