<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>YOUTHQUAKE</title>
    <link rel="Shortcut Icon" href="icon.ico"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div class="navbar">
    <div class="container">
        <div class="row">
            <p class="pull-left visible-xs">
                <button data-toggle="offcanvas" class="navbar-toggle" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </p>
            <div class="centeredtext">
                <img id="logo" src="./images/logo.png"/>
            </div>
        </div>
    </div>
</div>
<!--div 0 - "home"-->
<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div role="navigation" id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas">
            {{md './src/pages/sidebar.md'}}
        </div>

        <div class="col-xs-12 col-sm-9 main">
            {{>body}}
            <hr>
            <div id="footer" class="row centeredtext orange">
                YouthQuake is hosted by a consortium of Northern California American Baptist Churches
            </div>
        </div>
    </div>
</div>
</div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/youthquake.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>